/*
* ***************************** Color Variables : ******************************
*/


$top-bar-blue: #2BA6CB;
$panel-color: #F2F2F2;
$panel-color-medium-darker: #EBEBEB; 
$panel-color-darker: #DDDDDD; 
$success: #449D44;
$danger: #C9302C;

@mixin gradient($from, $to){
    /* fallback/image non-cover color */
    background-color: $from;
    /* Firefox 3.6+ */
    background-image: -moz-linear-gradient($from, $to);
    /* Safari 4+, Chrome 1+ */
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));
    /* Safari 5.1+, Chrome 10+ */
    background-image: -webkit-linear-gradient($from, $to);
    /* Opera 11.10+ */
    background-image: -o-linear-gradient($from, $to);
    background: -ms-linear-gradient(top,  $from 0%,$to 100%); /* IE10+ */
    background: linear-gradient(to bottom, $from 0%, $to 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=0 ); /* IE6-9 */
}

@mixin gradient5($col1, $col2, $col3, $col4, $col5){
    background: #f85032 !important;/* Old Browsers */
    background: -moz-linear-gradient(top, $col1 0%, $col2 50%, $col3 51%, $col4 71%, $col5 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(left top, left bottom,  color-stop(0%, $col1), color-stop(50%, $col2), color-stop(51%, $col3), color-stop(71%, $col4), color-stop(100%, $col5)) !important;/* Chrome, Safari4+ */
    background: -webkit-linear-gradient(top, $col1 0%, $col2 50%, $col3 51%, $col4 71%, $col5 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, $col1 0%, $col2 50%, $col3 51%, $col4 71%, $col5 100%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top, $col1 0%, $col2 50%, $col3 51%, $col4 71%, $col5 100%) !important; /* IE 10+ */
    background: linear-gradient(to bottom, $col1 0%, $col2 50%, $col3 51%, $col4 71%, $col5 100%) !important;/* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$col1', endColorstr='$col5', GradientType=0 ) !important;/* IE6-9 */
}

/*
* ********************************* Mixins : ***********************************
*/

@mixin rounded($radius: 10px, $larg: 0px, $type: solid, $color: #000000) {
    border: $type $larg $color;
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    border-radius: $radius;
}

@mixin roundedSide($top_left: 0px, $top_right: 0px, $bottom_right: 0px, $bottom_left: 0px, $larg: 0px, $type: solid, $color: #000000) {
    border: $type $larg $color;
    -moz-border-radius: $top_left $top_right $bottom_right $bottom_left;    
    -webkit-border-radius: $top_left $top_right $bottom_right $bottom_left;
    border-radius: $top_left $top_right $bottom_right $bottom_left;
}

@mixin boxShadow($horizontal: 0px, $vertical: 0px, $blur: 0px, $spread: 0px, $r: 0, $g: 0, $b: 0, $opacity: 1){
    -moz-box-shadow: $horizontal $vertical $blur $spread rgba($r, $g, $b, $opacity);
    -webkit-box-shadow: $horizontal $vertical $blur $spread rgba($r, $g, $b, $opacity);
    box-shadow: $horizontal $vertical $blur $spread rgba($r, $g, $b, $opacity);
}

@mixin boxShadowHex($horizontal: 0px, $vertical: 0px, $blur: 0px, $spread: 0px, $color: #000000){
    -moz-box-shadow: $horizontal $vertical $blur $spread $color;
    -webkit-box-shadow: $horizontal $vertical $blur $spread $color;
    box-shadow: $horizontal $vertical $blur $spread $color;
}


/*
 *  ********************** Base structure : **********************************
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}

/*
 * Main content
 */

.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}

/*
* Content wrapper :
*/

#content-wrapper{
}

/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
* *********************** General UI/UX : ***************************** 
*/

.clickable:hover{
    cursor: pointer;
}

.hidden{
    display: none;
}

/*
* Glyphicons colors
*/
.glyphicon-ok{
    color: $success;
}

.glyphicon-remove{
    color: $danger;
}

/*
* Table style
*/

.table{
    @include rounded(10, 1, solid, #DDDDDD);
}

ul{
    list-style-type: none;
}

/*
* *** Jquery UI components *** /
*/

#datepicker {
    position: relative;
    z-index: 10000000;
}


/*
* **************************** Navbar Elements :  ******************************
*/

#subscription-form{
    display: block;
    width: 300px;
    padding: 10px;
    div.form-group{
        margin: 7px;
        clear: both;
    }
    label{
        width: 130px;
        clear: both;
    }
    input:not([type=radio]){
        width: 130px !important;
        float: right;
    }
    #status-radio{
        list-style-type: none; 
        margin-left: 80px;
    }
    #submit{
        float: right;
    }
}

#connexion-dropdown{
    padding: 8px;
    input{
        @include rounded(5, 1, solid, #DDDDDD);
    }
}

@media (max-width: 768px) {
    .navbar label, .navbar div{
        color: white !important;
    }
    .navbar input{
        color: black;
    }
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

.navbar-brand{
    margin-top : -10px;
}

@media (max-width: 330px) {
    a.navbar-brand{
        font-size: 1em;
    }
}

/*
 * **************************** Sidebar : ******************************
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
    width: 16.66666667% !important;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed !important;
        height: 100%;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -16px;
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}
/*
* *********************** [Page Specific] Offres : *****************************
*/

.offre{
    padding: 5px;
    h3{
        margin: 5px;
    }
    ul{
        padding-left: 5px;
        li{
            list-style-type: none;
            table{
                td, th{
                    padding: 3px;
                }
            }
        }
    }
    hr{
        margin: 1px;
        margin-bottom: 5px;
    }
    .thumbnail{
        min-height: 270px;
        height: 270px;
        overflow: auto;
    }
}

/*
* ***************** [Page Specific] Demande de Contrats : **********************
*/
#consumer-info, #contract-info{
    padding-left: 10px;
    li{
        list-style-type: none;
        strong{
            display: block;
            float: left;
            width: 100px;
        }
    } 
}

.modal-create-request{
    label{
        width: 150px;
    }
}

#permanency-picker > .ui-datepicker-inline{
    margin: auto;
}

@mixin selectedDate($borderColor, $bgCol1, $bgCol2, $bgCol3, $bgCol4, $bgCol5){
    font-weight: bold !important;
    color: #ffffff !important;
    border: 1px solid $borderColor;
    //background: $backgroundColor url("images/ui-bg_glass_50_3baae3_1x400.png") 50% 50% repeat-x !important;
    @include gradient5($bgCol1, $bgCol2, $bgCol3, $bgCol4, $bgCol5);
}



.fullperms, .fullperms .ui-state-default{
    @include selectedDate(#000763, #2c62ba, #3c74c8, #275ba5, #2b5ea6, #3063a1);
}

.perms, .perms .ui-state-default{
    @include selectedDate(#000763, #2cb3ba, #3cc3c8, #27a3a5, #2ba4a6, #30a19f  );
}

.dispos, .dispos .ui-state-default{
    @include selectedDate(#006633, #67ba2c, #79c83c, #60a527, #62a62b, #67a130 );
}

.undispos, .undispos .ui-state-default{
    @include selectedDate(#990000, #ba2c41, #c83c53, #a5273e, #a62b41, #a13049  );
}

.demo-active, .consummer-week-picker .ui-state-active, .week-picker .ui-state-active {
    background: url('../../img/date_hover.png') !important;
    color: inherit !important;
    border: 1px solid #2694e8;
}

#accordion-modif-perm div{
    height: auto !important;
}

.navbar-right .onlyOnLowRes{
    display: none !important;
}

@media (max-width: 768px) {
    .navbar-right .onlyOnLowRes{
        display: block !important;
    }
}